@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.degradeCss{
    background: linear-gradient(180deg, rgba(34,193,195,0.6) 0%, rgba(253,45,45,0) 86%);
}



.gradientLogin{
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}